* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #526760;
  max-width: 700px;
  min-height: 300px;
  margin-top: 7px;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.slider {
  display: flex;
  flex-direction: column;
}

span {
  color: black;
}

.box {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: 5px;
}

.spansContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
